
.cart-row {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid grey
}

.cartheading {
    text-align: center;
}

.content-section{
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #54544f;
}