
.cart-row {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid grey
}

.cartheading {
    text-align: center;
}


.cardtableheading {
    text-align: center;
}

.cardtable-row {
    margin: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid grey;
}

.detail-view {
    width: 100%;
    border-radius: 50px;
    box-shadow: 50px;
}


.content-section{
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #54544f;
}
.center {
   
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 .sidebar {
     float: left;
     position: relative;
 }
 .rightsidebar {
     float: right;
 }

 .container2{width:75%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto; align-content: center;}

 .centerImg {
    object-fit: fill ;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 600px;
    align-content: center;
  }

  .logo {
    max-height: 25%;
    max-width: 25%;
    float:left;
  }

