{% extends "base.html" %}

{% block header %}
<h2 class="page-section-heading text-center">Your Cart</h2>
{% endblock header %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col cartheading">Image</div>
        <div class="col cartheading">Product Name</div>
        <div class="col cartheading">Comparison Price</div>
        <div class="col cartheading">Oracle Text</div>
        <div class="col cartheading">Your Price</div>
        <div class="col cartheading">Quantity</div>
    </div>
    {% for product in cart %}
        <div class="row cart-row">
            <div class="col cart-image"><img src="{{product.image}}"/></div>
            <div class="col cart-item">{{product.name}}</div>
            <div class="col cart-item">{{product.price}}</div>
            <div class="col cart-item">{{product.oracleText}}</div>
            <div class="col cart-item">{{product.your_price}}</div>
            <div class="col cart-item">{{product.quantity}}</div>
        </div>
        <div class="table-divider"></div>
    {% endfor %}
</div>

{% endblock %}